<div class="card">
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-lg-12 d-flex justify-content-center">
        <h3>Restaurant Details</h3>
      </div>
    </div>


    


    <div class="row mb-3 align-items-center">
      <div class="col-lg-6">
     
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText"
            (input)="applyFilter()" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="applyFilter()">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex justify-content-lg-end mt-3 mt-lg-0 text-right">
        <button class="btn btn-primary" (click)="create()">
          <i class="fa fa-plus mr-1"></i> Add Restaurant
        </button>
      </div>
    </div> 

    <div class="col-sm-12" style="overflow: hidden">
      <div class="table-responsive" style="overflow: hidden">
        <ngx-datatable #table [rows]="rows" [rowHeight]="50"
          class="bootstrap core-bootstrap table table-striped table-hover table-bordered"
          [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="false"
          [limit]="basicSelectedOption">

          <ngx-datatable-column name="Sr." [sortable]="false" [draggable]="false" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
              <div class="p-2">
                {{ rowIndex + 1 }}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Restaurant Name" prop="name" [draggable]="false" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="p-2">
                {{ row.name }}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Mobile Number" prop="contact" [draggable]="false" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="p-2">
                {{ row.contact }}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Email Id" prop="email" [draggable]="false" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="p-2">
                {{ row.email }}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Address" prop="address" [draggable]="false" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="p-2">
                {{ row.address }}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Action" [sortable]="false" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div>
                <button class="btn">
                  <i class="fa fa-eye text-primary" (click)="clickOn(row, 'View')"></i>
                </button>
                <button class="btn">
                  <i class="fa fa-pencil text-warning" (click)="clickOn(row, 'Edit')"></i>
                </button>
                <button class="btn">
                  <i class="fa fa-trash text-danger" (click)="clickOn(row, 'Delete')"></i>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>