
    <div class="card">
      <div class="card-body">
        <div class="row mb-3">
            <div class="col-lg-12 d-flex justify-content-center">
              <h3>Add Restaurant</h3>
            </div>
          </div>
  
        <form [formGroup]="restaurantForm">
  
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="mb-1">Restaurant Name</label>
              <input type="text" class="form-control" formControlName="name" />
              @if (restaurantForm.get('name')?.hasError('required') && restaurantForm.get('name')?.touched) {
                <small class="text-danger">
                    Restaurant Name is required.
                </small>
                }
            </div>
  
            <div class="col-md-6 mb-3">
              <label class="mb-1">Mobile Number</label>
              <input type="text" class="form-control" formControlName="contact" />
             
              @if (restaurantForm.get('contact')?.hasError('required') && restaurantForm.get('contact')?.touched) {
                <small class="text-danger">
                    Mobile Number is required.
                </small>
                }
                @if (restaurantForm.get('contact')?.hasError('pattern') &&(!restaurantForm.get('contact')?.hasError('required')) && restaurantForm.get('contact')?.touched) {
                    <small class="text-danger">
                      Please, Enter valid Mobile Number.
                    </small>
                    }
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="mb-1">Email</label>
              <input type="text" class="form-control" formControlName="email" />
              @if (restaurantForm.get('email')?.hasError('required') && restaurantForm.get('email')?.touched) {
                <small class="text-danger">
                    Email ID is required.
                </small>
                }
                @if (restaurantForm.get('email')?.hasError('email') && restaurantForm.get('email')?.touched) {
                <small class="text-danger">
                    Please enter a valid email address
                </small>
                }
            </div>
  
            <div class="col-md-6 mb-3">
              <label class="mb-1">Website URL</label>
              <input type="text" class="form-control" formControlName="website" />
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-4 mb-3">
              <label class="mb-1">Open Time</label>
              <input type="time" class="form-control" formControlName="opentime" />
              @if (restaurantForm.get('opentime')?.hasError('required') && restaurantForm.get('opentime')?.touched) {
                <small class="text-danger">
                    Open Time is required.
                </small>
                }
            </div>
  
            <div class="col-md-4 mb-3">
              <label class="mb-1">Close Time</label>
              <input type="time" class="form-control" formControlName="closetime" />
              @if (restaurantForm.get('closetime')?.hasError('required') && restaurantForm.get('closetime')?.touched) {
                <small class="text-danger">
                    Close Time is required.
                </small>
                }
            </div>
  
            <div class="col-md-4 mb-3">
              <label class="mb-1">Address</label>
              <input type="text" class="form-control" formControlName="address" />
              @if (restaurantForm.get('address')?.hasError('required') && restaurantForm.get('address')?.touched) {
                <small class="text-danger">
                    Address is required.
                </small>
                }
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12 mb-3">
              <label class="mb-1">Description</label>
              <textarea type="text" class="form-control" formControlName="description"></textarea>
              @if (restaurantForm.get('description')?.hasError('required') && restaurantForm.get('description')?.touched) {
                <small class="text-danger">
                    Description is required.
                </small>
                }
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12 d-flex justify-content-end">
              <button type="button" class="btn btn-secondary mr-2" (click)="backButton()">Back</button>
              <button type="button" class="btn btn-primary" (click)="create()" [disabled]="restaurantForm.invalid">Submit</button>
            </div>
          </div>
  
        </form>
      </div>
    </div>

  